.card {
  background: #fff;
  border-radius: 2px;
  height: 100px;
  margin: 5px;
  position: relative;
  width: 70%;
  box-shadow: 0 3px 6px #999, 0 3px 6px #999;
  text-align: left;
}

.card > .img-container {
  display: inline-block;
  height: 80px;
  width: 80px;
  overflow: hidden;
  text-align: center;
  background:#6CADDC;
  margin: 10px;
}
.card > .img-container > img {
  width: 100%
}

.card > .content {
  position: relative;
  display: inline-block;
  top: -50px;
  left: 50px;
  font-size: 20px;
  width: 90%;
}

.card > .content > p {
  display: inline-block;
width: 25%;
}

